<robot name="root">
  <link name="link_Pencil_convex_piece_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="2.91E-01"/>
      <inertia ixx="8.60E-04" ixy="-6.66E-11" ixz="9.49E-09" iyy="8.61E-04" iyz="-2.02E-08" izz="9.53E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Pencil_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Pencil_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
