<robot name="root">
  <link name="link_triangular wedge_convex_piece_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="2.11E-01"/>
      <inertia ixx="4.52E-04" ixy="-0.00E+00" ixz="4.09E-05" iyy="3.72E-04" iyz="-0.00E+00" izz="1.20E-04"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="triangular wedge_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="triangular wedge_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
