<robot name="root">
  <link name="link_Double Wedge_convex_piece_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.30E-01"/>
      <inertia ixx="1.13E-04" ixy="1.02E-07" ixz="-1.24E-07" iyy="1.60E-04" iyz="4.01E-08" izz="1.16E-04"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Double Wedge_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Double Wedge_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_Double Wedge_convex_piece_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.28E-01"/>
      <inertia ixx="1.11E-04" ixy="-4.82E-08" ixz="7.34E-07" iyy="1.56E-04" iyz="-7.79E-07" izz="1.14E-04"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Double Wedge_convex_piece_1.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="Double Wedge_convex_piece_1.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_Double Wedge_convex_piece_1_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="link_Double Wedge_convex_piece_0"/>
    <child link="link_Double Wedge_convex_piece_1"/>
  </joint>
</robot>
