<robot name="root">
  <link name="link_skewed half cylinder_convex_piece_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="2.30E-01"/>
      <inertia ixx="4.18E-04" ixy="6.97E-07" ixz="-2.54E-05" iyy="4.75E-04" iyz="-1.52E-07" izz="9.94E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="skewed half cylinder_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="skewed half cylinder_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
